<div class="card">
    <div class="card-content">
        <h3 class="title is-3">À propos</h3>
        <p>
            L’univers présenté sur ce site, qui ne constitue en aucun cas une anticipation et ne se prévaut d’aucune portée prophétique, a longuement été développé dans le cadre de l’écriture d’un roman. Il est, de mon point de vue, un bon support à une frise de nouvelles aux personnages récurrents. Je pense que le support numérique est le plus adapté pour une telle toile d’histoires courtes plus ou moins reliées entre elles.
        </p>
        <br />
        <p>
            Cet espace va être nourri au cours du temps. Des nouvelles vont bien sûr être régulièrement publiées, de nouveaux personnages vont être ajoutés, des personnages secondaires vont avoir leur propre narration, etc. Le site s’enrichira aussi en informations annexes sur l’univers développé : frise chronologique, narration d’évènements historiques, lexique, etc.
        </p>
        <br />
        <p>
            Toutes les œuvres littéraires présentées sur ce site sont imaginées et écrites par Florent Naud.
        </p>
        <br />
        <p>
            Le site web est développé par Claire Dhénin avec le framework Django et est hébergé sur un serveur privé chez l’hébergeur OVH.
        </p>
    </div>
</div>