<div class="container">
    <div class="card paperblock before">
        <div class="card-content">
            <h1 class="title is-3 is-handwritten is-underlined">À propos</h1>
            <p>
                L’univers présenté sur ce site, qui ne constitue en aucun cas une anticipation et ne se prévaut d’aucune
                portée prophétique, a longuement été développé dans le cadre de l’écriture d’un roman. Il est, de mon
                point de vue, un bon support à une frise de nouvelles aux personnages récurrents. Je pense que le
                support numérique est le plus adapté pour une telle toile d’histoires courtes plus ou moins reliées
                entre elles.
            </p>
            <br />
            <p>
                Cet espace va être nourri au cours du temps. Des nouvelles vont bien sûr être régulièrement publiées, de
                nouveaux personnages vont être ajoutés, des personnages secondaires vont avoir leur propre narration,
                etc. Le site s’enrichira aussi en informations annexes sur l’univers développé : frise chronologique,
                narration d’évènements historiques, lexique, etc.
            </p>
            <br />
            <p>
                Toutes les œuvres littéraires présentées sur ce site sont imaginées et écrites par Florent Naud.
            </p>
            <br />
            <p>
                Le site web est développé par Claire Dhénin avec le framework Django et est hébergé sur un serveur privé
                chez l’hébergeur OVH.
            </p>
            <br />
        </div>
    </div>
    <div class="card paperblock before ml-auto mt-6">
        <div class="card-content content">
            <h1 class="title is-3 is-handwritten is-underlined">Mentions légales</h2>
            <h2 class="title is-4 is-handwritten is-underlined">Identité</h2>

            <p>Nom du site web : Nouvelles Exnihil</p>
            <p>Adresse du site : https://nouvelles.exnihil.fr</p>

            <p>Propriétaire : Florent Naud</p>
            <p>Responsable de publication : Florent Naud</p>

            <p>Hébergement : OVH – 2 rue Kellermann - 59100 Roubaix - France</p>

            <p>Développeuse : Claire DHÉNIN (<a href="https://claire.dhenin.net" target="_blank"
                    rel="noopener noreferrer">https://claire.dhenin.net</a>)</p>
            <p>Code source : <a href="https://github.com/cdhenin/nouvelles-exnihil" target="_blank" rel="noopener noreferrer">github.com/cdhenin/nouvelles-exnihil</a></p>
            <br />

            <h2 class="title is-4 is-handwritten">Conditions d’utilisation</h2>

            <p>L’utilisation du présent site implique l’acceptation pleine et entière des conditions générales
                d’utilisation décrites ci-après. Ces conditions d’utilisation sont susceptibles d’être modifiées ou
                complétées à tout moment.</p>
            <br />

            <h3 class="title is-5 is-handwritten">Informations</h3>

            <p>Les informations et documents du site sont présentés à titre indicatif, sans de caractère exhaustif,
                et
                ne
                peuvent engager la responsabilité du propriétaire du site.</p>

            <p>Le propriétaire du site ne peut être tenu responsable des dommages directs et indirects consécutifs à
                l’accès au site.</p>
            <br />

            <h3 class="title is-5 is-handwritten">Propriété intellectuelle</h3>

            <p>Sauf mention contraire, tous les éléments accessibles sur le site (textes, images, graphismes, logo,
                icônes,
                sons, logiciels, etc.) restent la propriété exclusive de leurs auteurs, en ce qui concerne les
                droits de
                propriété intellectuelle ou les droits d’usage.</p>

            <p>Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des
                éléments du
                site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite
                préalable de
                l’auteur.</p>

            <p>Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient est
                considérée
                comme constitutive d’une contrefaçon et passible de poursuites.</p>

            <p>Les marques et logos reproduits sur le site sont déposés par les sociétés qui en sont propriétaires.
            </p>
            <br />

            <h3 class="title is-5 is-handwritten">Liens</h3>

            <h4 class="title is-6 is-handwritten">Liens sortants</h4>
            <p>Le propriétaire du site décline toute responsabilité et n’est pas engagé par le référencement via des
                liens
                hypertextes, de ressources tierces présentes sur le réseau Internet, tant en ce qui concerne leur
                contenu
                que leur pertinence.</p>
            <br />

            <h4 class="title is-6 is-handwritten">Liens entrants</h4>
            <p>Le propriétaire du site autorise les liens hypertextes vers l’une des pages de ce site, à condition
                que
                ceux-ci ouvrent une nouvelle fenêtre et soient présentés de manière non équivoque afin d’éviter :

                tout risque de confusion entre le site citant et le propriétaire du site
                ainsi que toute présentation tendancieuse, ou contraire aux lois en vigueur.</p>

            <p>Le propriétaire du site se réserve le droit de demander la suppression d’un lien s’il estime que le
                site
                source ne respecte pas les règles ainsi définies.</p>
            <br />

            <h3 class="title is-5 is-handwritten">Confidentialité</h3>

            <p>Le site ne recueille pas d’informations personnelles, et n’est pas assujetti à déclaration à la CNIL.
            </p>
            <br />

            <h3 class="title is-5 is-handwritten">Crédits</h3>
            <p>Effet CSS « papier » inspiré de :</p>
            <ul>
                <li><a href="https://shkspr.mobi/blog/2022/06/paper-prototype-css/" target="_blank"
                        rel="noopener noreferrer">paper-prototype-css</a></li>
                <li><a href="https://codepen.io/aitchiss/pen/QWKmPqx" target="_blank" rel="noopener noreferrer">Paper
                        with sellotaped corners</a></li>
                <li><a href="https://codepen.io/mlms13/pen/ngbMxq" target="_blank" rel="noopener noreferrer">CSS Stacked
                        Paper Effect</a></li>
            </ul>
            <p>Wood and paper patterns : <a href="https://www.transparenttextures.com/" target="_blank"
                    rel="noopener noreferrer">https://www.transparenttextures.com/</a></p>
            <p>Framework CSS :
                <a href="https://bulma.io" target="_blank" rel="noopener noreferrer">Bulma</a>
            </p>
            <p>Polices d'écritures :
                <a href="https://fontesk.com/mynerve-font/" target="_blank" rel="noopener noreferrer">mynerve-font</a> &
                Nunito
            </p>
        </div>
    </div>
</div>