{% if last_novellas %}
  <div class="flex space-between">
    <h1 class="title">Dernières nouvelles</h1>
    <a href="{% url 'novellas:index' %}" class="button">Voir tout</a>
  </div>
  <div class="columns is-multiline">
    {% for novella in last_novellas %}
    <div class="column is-half">
      {% include 'novellas/listItem.html' %}
    </div>
    {% endfor %}
  </div>
{% endif %}

<div id='timeline-embed' style="width: 100%; height: 600px"></div>

<div class="columns margin-top is-one">

  <div class="column is-half">
    {% include 'home/presentation.html' %}

  </div>
  {% if main_characters %}

  <div class="column is-half">
    <div class="flex space-between">
      <h1 class="title">Les personnages</h1>
      <a href="{% url 'characters:index' %}" class="button is-pulled-right">Voir tout</a>
    </div>
  
    <div class="columns flex direction-column">
      {% for character in main_characters %}
      <div class="column">
        {% include 'characters/listItem.html' %}
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>

