{% if last_novellas %}
  <h1 class="title">Dernières nouvelles</h1>
  <div class="columns">
    {% for novella in last_novellas %}
    <div class="column">
      <div class="card is-fullheight">
        <div class="card-content">
          <p class="title is-4">{{ novella.title }}</p>
          <div class="content">
            {{ novella.summary | safe  }}
            <a href="{% url 'novellas:detail' novella.id %}">Lire</a>
            <div class="tags">
              {% for character in novella.characters %}
                <a class="tag is-primary" href="{% url 'characters:detail' character.id %}">{{character.name}}</a>
              {% endfor %}
            </div>
            <div class="tags">
              {% for tag in novella.tags %}
                <a class="tag is-secondary" href="{% url 'novellas:index'%}?tag={{ tag.id }}">{{tag.name}}</a>
              {% endfor %}
            </div>
            <br>
            <time datetime="2016-1-1">{{ novella.created_at }}</time>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    <a href="{% url 'novellas:index' %}" class="button is-white">Voir tout</a>

  </div>
{% endif %}

{% if main_characters %}
  <h1 class="title">Les personnages</h1>
  <div class="columns">
    {% for character in main_characters %}
    <div class="column">
      <div class="card is-fullheight">
        <div class="card-content">
          <p class="title is-4">{{ character.name }}</p>
          <div class="content">
            {{ character.biography | safe  }}
            {{ character.novellas }}
            <a href="{% url 'characters:detail' character.id %}">Lire</a>
            <br>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    <a href="{% url 'characters:index' %}" class="button is-white">Voir tout</a>
  </div>
{% endif %}