[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "==3.0.4"
django-tinymce = "==2.8.0"
psycopg2 = "==2.8.4"

[requires]
python_version = "3.6"
