<div class="columns is-centered">
  <div class="column novel-read">
    <div class="card is-pulled-right">
      <div class="card-content">
        <h1 class="title is-1">{{novella.title}}</h1>
        <div class="content">
          <div class="tags are-medium is-capitalized">
            {% for tag in novella.tags %}
              <a class="tag is-primary" href="{% url 'novellas:index'%}?tag={{ tag.id }}">{{tag.name}}</a>
            {% endfor %}
          </div>
          {{novella.text | safe }}
        </div>
      </div>
    </div>
  </div>
  <div class="column is-one-third">
    <div class="card">
      <h1 class="title is-3 card-header-title">Les personnages</h1>        
      <div class="card-content">
        {% for character in novella.characters %}
        <h2 class="title is-4">{{character.name}}</h2>
        <div class="content">{{character.excerpt}}</div>
        <div class="flex align-end">
          <a class="button" href="{% url 'characters:detail' character.id %}">Voir plus</a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

