@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$green: #63ae9d;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $green;
$link: $purple;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$button-border-color: $primary;
$button-hover-border-color: $brown;
$button-border-width: 1px;

// Import only what you need from Bulma
@import "./node_modules/bulma/sass/utilities/_all.sass";
@import "./node_modules/bulma/sass/base/_all.sass";
@import "./node_modules/bulma/sass/elements/_all.sass";
@import "./node_modules/bulma/sass/components/_all.sass";
@import "./node_modules/bulma/sass/grid/_all.sass";
@import "./node_modules/bulma/sass/layout/_all.sass";

.flex {
    display: flex;
    &.direction-column {
        flex-direction: column;
    }
}

.space-between {
    justify-content: space-between;
}

.align-end {
    justify-content: end;
}

.navbar {
    border-bottom: 1px solid $primary;
}

.is-fullheight {
    height: 100%;
}

.novel-read {
    .card {
        max-width: 600px;
        text-align: justify;

        .content {
            p {
                text-indent: 5%;
            }
        }

    }
}

.card {
    display: flex;
    flex-direction: column;

    .card-content {
        flex-grow: 1;
    }

    footer {
        padding: 1rem;
    }
}
