{% load static %}
<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
  </head>
  <body>
    {% include 'common/navbar.html' %}
    <section class="section">
      <div class="container">
        {% include template %}
      </div>
    </section>
  </body>
</html>