{% load static %}
<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" />
    <link title="timeline-styles" rel="stylesheet" href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css">
    <script src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'timeline-override.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'font.css' %}">
  </head>
  <body>
    {% include 'common/navbar.html' %}
    <section class="section">
      {% include template %}
    </section>
    {% include 'common/footer.html' %}

    <script type="text/javascript">
      document.getElementById("burger").addEventListener("click", function(event) {
        document.getElementById("navbar").classList.toggle('is-active')
        event.target.classList.toggle('is-active')
      });
    </script>
  </body>
</html>