
@font-face {
    font-family: Handwritten;
    src: url('my_nerve/MyNerve.ttf');
}

@font-face {
    font-family: opera;
    src: url('opera-lyrics-smooth-font/OperaLyricsSmooth-OOJo.ttf');
}

@font-face {
    font-family: Merriweather;
    src: url('Merriweather/Merriweather-Regular.ttf');
}

@font-face {
    font-family: Merriweather;
    font-weight: bold;
    src: url('Merriweather/Merriweather-Bold.ttf');
}

@font-face {
    font-family: Merriweather;
    font-weight: 400;
    src: url('Merriweather/Merriweather-Light.ttf');
}

@font-face {
    font-family: Merriweather;
    font-weight: 700;
    src: url('Merriweather/Merriweather-Black.ttf');
}
