<div class="container">
  <div class="card paperblock  before">
    <div class="card-content">
      <div class="content">
        <h1 class="is-handwritten is-underlined">{{character.name}}</h1>
        {{ character.biography | safe  }}
      </div>
    </div>
  </div>

{% if character.novellas %}
<div class="container py-6">
  <h1 class="title m-0">Ses nouvelles</h1>
  <div class="papernotes">
    {% for novella in character.novellas %}
    <div class="papernote-wrapper">
      {% include 'novellas/listItem.html' %}
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

</div>

